HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Custom Options ###
# Apple 고유 파일
.DS_Store
# yml, properties 파일
**/src/main/resources/*.properties
**/src/main/resources/*.yml
**/src/test/resources/*.properties
**/src/test/resources/*.yml
crawling/config.ini
crawling/.idea/
crawling/__pycache__/
crawling/venv
crawling/Constants*
crawling/requirements*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/frontend/node_modules
/src/main/resources/static/**
/src/main/frontend/build/**

### VS Code ###
.vscode/
